<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>
<body>

  <div class="outer-div">           
    <div class="inner-div">
      <h1>Bienvenidos a Teacher-App</h1> 
      <a href="/login" class="right-space">Iniciar Sesión</a>
      <a href="/signup">Registrarse</a>
    </div>
  </div>
    
</body>
</html>