<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>
<body class="text-center">

  <div class="outer-div">
    <div class="inner-div">
      <form class="form-group">
        <!-- <img class="mb-4" src="/docs/4.2/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72"> -->
        <div class="top-space">
          <input type="email" id="inputEmail" class="form-control" 
            placeholder="Email" required="" autofocus="">
        </div>
        <div class="top-space">
          <input type="password" id="inputPassword" class="form-control" 
            placeholder="Contraseña" required="">
        </div>

        <div class="top-space">
          <button class="btn btn-primary btn-block" type="submit">Iniciar Sesión</button>
        </div>

        <div class="text-right margin-top">
          <a href="/signup">Registrarme</a>
        </div>
      </form>
    </div>
  </div>
    
</body>
</html>