<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>
<body class="text-center">

  <div class="outer-div">
    <div class="inner-div">
      <form action="/users", method="POST">
        <div class="top-space">
          <input type="text" name="email" placeholder="Email" 
            id="email" class="form-control">
        </div>
        <div class="top-space">
          <input type="password" name="password" placeholder="Password" 
            id="password" class="form-control">
        </div>
        <div class="top-space">
          <input type="password" name="password_confirmation" 
            placeholder="Confirmacion de contraseña" id="password_confirmation" class="form-control">
        </div>
        <div class="top-space">
          <input type="text" name="username" placeholder="Nombre de usuario"
            id="username" class="form-control">
        </div>

        <div class="top-space">
          <button class="btn btn-primary btn-block" type="submit"> Registrarse </button>
        </div>
        <div class="text-right margin-top">
          <a href="/login">Ya tengo una cuenta</a>
        </div>
      </form>
    </div>
  </div>
</body>
</html>