
.right-space{
  margin-right: 1em;
}

.remove-float{
  float: none;
}

.top-space{
  margin-top: 2em;
}

.big-top-space{
  margin-top: 200px;
}

.large-padding{
  padding: 10px 15px;
}

.black{
  background-color: #222;
}

.white-text{
  color: white;
}

.margin-top{
  margin-top: 10px;
}

.outer-div {
  padding: 30px;
  text-align: center;
}

.inner-div {
  display: inline-block;
  padding: 50px;
}