
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Pagina Principal</title>

<!-- CSS -->
<link href="/mycss/app.css" rel="stylesheet">
<!-- Bootstrap -->
<link href="../../../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="../../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>